.login-clean {
  padding: 80px 0;
}

.login-clean form {
  max-width: 440px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.login-clean .illustration {
  text-align: center;
  padding: 0 0 20px;
  font-size: 100px;
  color: rgb(244,71,107);
}

.login-clean form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 8px;
  height: 35px;
  width:49%;
}

.login-clean form .btn-primary {
  background: #fb483a !important;
  border: none;
  border-radius: 50px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none !important;
}

.login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
  background: #f54e43 !important;
}

.login-clean form .btn-primary:active {
  transform: translateY(1px);
}