<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link href="style.css" rel="stylesheet">
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </head>
  <body>
  <script>
      function lancer(){
        eel.hello('I need you')(print_return);

      reta = show();
      alert(reta);
           
  }
  </script>
    <h1>Hello World!</h1>
   
    <button onclick="lancer();">LAncer </button>
  </body>
</html>
