<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="image/shop.png" type="image/png"/>
<title>SevenOptica</title>
<link rel="stylesheet" href="css/material-icon.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/bootstrap0.min.css">
<link rel="stylesheet" href="css/topnav.css">

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/stylee.css">
<link rel="stylesheet" href="css/modal_echec.css">

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->

<link rel="stylesheet" type="text/css" href="css/modal.css">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css">

<link rel="stylesheet" href="css/bootstrap0.min.css">


<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style_menu.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap">


<style type="text/css">
</style>

</head>
<body>
<nav class="navbar navbar-default navbar-expand-lg navbar-light">
	<div class="navbar-header d-flex col">
		<a class="navbar-brand" ><i style="color:#888 !important;" class="fa fa-rss ambn"></i><b class="ti">Seven</b> <b>Optica</b></a>
		<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<ul class="nav navbar-nav">
		</ul>
		<ul class="nav navbar-nav navbar-right ml-auto">

			<li class="nav-item">
				<a href="#" class="btn btn-primary" style="background-color: #35065a !important; margin-top: 0% !important;"><i class="fa fa-user"></i><span class='username'></span></a>

			</li>
		</ul>
	</div>
</nav>


<div class="site-wrap"  >
	<section>
		<div class="site-section bg-white" id="services-section" >
	  		<div class="container" >

				<div class="page-loader-wrapper">
					<div class="loader">
					    <div class="preloader">
					        <div class="spinner-layer pl-red">
						  <div class="circle-clipper left">
						      <div class="circle"></div>
						  </div>
						  <div class="circle-clipper right">
						      <div class="circle"></div>
						  </div>
					        </div>
					    </div>
					    <p style="font-family: 'Poppins-Regular' ;">Chargement...</p>
					</div>
				      </div>

				      <section>
					<!-- Left Sidebar -->
					<aside id="leftsidebar" class="sidebar">
					    <!-- User Info -->
					    <div class="user-info">
					        <div class="image">
						  <img src="image/user.png" width="48" height="48" alt="User" />
					        </div>
					        <div class="info-container">
						  <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'Poppins-Regular' ;"></div>
						  <div class="email prenom" style="font-family: 'Poppins-Regular' ;"></div>
					        </div>
					    </div>
					    <!-- #User Info -->
					    <!-- Menu -->
					    <div class="menu">
					        <ul class="list">
						  <li class="active">
						      <a href="#">
							<i class="material-icons">menu</i>
							<span style="font-family: 'Poppins-Regular' ;">Menu</span>
						      </a>
						  </li>
						  <li>
						      <a href="#">
							<i class="material-icons">history</i>
							<span id="date" style="font-family: 'Poppins-Regular' ;"></span>
						      </a>
						  </li>
						  <li>
						      <a href="home.html">
							<i class="material-icons">logout</i>
							<span style="font-family: 'Poppins-Regular' ;">Déconnexion</span>
						      </a>
						  </li>
					        </ul>
					    </div>
					</aside>

				      </section>

	<section class="content">

  	<div class="row clearfix">
			<!-- colonne volongany zao -->
			<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
				<div class="info-box bg-pink hover-expand-effect" style="border-radius: 50px !important;">
					<div class="icon">
						<i class="material-icons">store</i>
					</div>
					<div class="content">
						<div class="text"></div>
						<h4 style="font-weight:normal !important; font-family: 'Poppins-Regular'">Ventes</h4>
					</div>
				</div>
			</div>
			<!-- colonne faharoa zao -->
			<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
				<div class="info-box bg-cyan hover-expand-effect" style="border-radius: 50px !important;">
					<div class="icon">
							<i class="material-icons">add_shopping_cart</i>
					</div>
					<div class="content">
						<div class="text"></div>
						<h4 style="font-weight:normal !important;font-family: 'Poppins-Regular'">Commandes</h4>
					</div>
				</div>
			</div>
			<!-- colonne fahatelo zao -->
			<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12" >
				<div class="info-box bg-green hover-expand-effect" style="border-radius: 50px !important;">
					<div class="icon">
						<i class="material-icons">print</i>
					</div>
					<div class="content">
						<div class="text"></div>
						<h4 style="font-weight:normal !important;font-family: 'Poppins-Regular'">Facturations</h4>
					</div>
				</div>
			</div>
			<!-- colonne fahaefatra zao -->
			<div id="Stock" class="col-lg-4 col-md-3 col-sm-6 col-xs-24" >
				<div class="info-box bg-cyan hover-expand-effect" style="border-radius: 50px !important;">
					<div class="icon">
						<i class="material-icons" Onclick="window.location='tableau.html'">shop</i>
					</div>
					<div class="content">
						<div class="text"></div>
						<h4 style="font-weight:normal !important;font-family: 'Poppins-Regular'"  >Stocks</h4>
					</div>
				</div>
			</div>
			<!-- colonne fahadimyzao -->
			<div  class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
				<div  class="info-box bg-light-green hover-expand-effect" style="border-radius: 50px !important;">
					<div class="icon">
						<i class="material-icons">equalizer</i>
					</div>
					<div class="content">
						<div class="text"></div>
						<h4 style="font-weight:normal !important;font-family: 'Poppins-Regular'">Statistiques</h4>
					</div>
				</div>
			</div>
			<!-- colonne fahaenina zao -->
			<div  class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
				<div  class="info-box bg-orange hover-expand-effect" style="border-radius: 50px !important;">
					<div class="icon">
						<i class="material-icons">security</i>
					</div>
					<div class="content">
						<div  class="text"></div>
						<h4  style="font-weight:normal !important;font-family: 'Poppins-Regular'">Administration</h4>
					</div>
				</div>
			</div>
		</div>

	</section>
</div>
</div>
</section>
</div> <!-- .site-wrap -->




<footer class="layout-dark" >
	<div class="copy-right" >
		<div class="container padding-tb-8px">
			<div class="row">
				<div class="col-lg-6">
					<div style="margin-left:0 !important;" class="copy-right-text text-lg-left text-center sm-mb-15px"><span style="font-size: 12px !important; color:#999 !important; font-weight: bold !important;"></span></div>
					</div>
				<div class="col-lg-6">
					<!--  Social -->
					<ul class="social-media list-inline text-lg-right text-center margin-0px text-white">
						<li onclick="eel.ouvrir('facebook')();" class="list-inline-item"> <i class="fa fa-facebook" aria-hidden="true"></i></li>
						<li onclick="eel.ouvrir('linkedin')();" class="list-inline-item"> <i class="fa fa-linkedin" aria-hidden="true"></i></li>
						<li onclick="eel.ouvrir('github')();" class="list-inline-item"> <i class="fa fa-github" aria-hidden="true"></i></li>
					</ul>
					<!-- // Social -->
				</div>
			</div>
		</div>
	</div>
</footer>

<div id="Modal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&#xE5CD;</i>
				</div>
				<h4 class="modal-title">Désolé!</h4>
			</div>
			<div class="modal-body">
				<p id='erreur' class="text-center"></p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger btn-block" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/eel.js"></script>
<script src="js/waves.js"></script>
<script src="js/admin.js"></script>
<script src="js/menu.js"></script>
<script src="js/controller.js"></script>
<script>
			ad = document.getElementById('Stock');
			console.log(ad);
			ad.addEventListener('click', function administration(){
				eel.verify_admin($('.username').html())(print_admin);

			});
			function print_admin(nbr){
				if (nbr == 1){
							window.location='tabverre.html';
				}
				else{
					show('Il faut être un administrateur pour pouvoir y acceder');

				}

			}
</script>
</body>
</html>
