<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="image/shop.png" type="image/png"/>
	<title>SevenOptica</title>
	<link rel="stylesheet" href="css/material-icon.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap0.min.css">
	<link rel="stylesheet" href="css/topnav.css">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/stylee.css">
	<link rel="stylesheet" href="css/pharmacie.css">

	<script type="text/javascript" src="/eel.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->

	<link rel="stylesheet" type="text/css" href="css/modal.css">

	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css">



	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/style_menu.css" rel="stylesheet">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">


	<link rel="stylesheet" href="assets2/css/Login-Form-Clean.css">

</head>

<body>
	<nav class="navbar navbar-default navbar-expand-lg navbar-light">
		<div class="navbar-header d-flex col">
			<a class="navbar-brand" ><i style="color:#888 !important;" class="fa fa-rss ambn"></i><b class="ti">Seven</b> <b>Optica</b></a>
			<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- Collection of nav links, forms, and other content for toggling -->
		<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
			<ul class="nav navbar-nav">
			</ul>
			<ul class="nav navbar-nav navbar-right ml-auto">
				<li class="nav-item">
					<a href="#" class="btn btn-primary" style="background-color: #35065a !important; margin-top: 0% !important;"><i class="fa fa-user"></i><span class='username'></span></a>
				</li>
			</ul>
		</div>
	</nav>



	<div class="site-wrap"  >
		<section>
			<div class="site-section bg-white" id="services-section" >

				<div class="container">

					<div class="login-clean" style="margin-left:-52.5%; margin-top:-11% !important;">
						<form id="vente_monture" method="POST">
							<h4 style="margin-left: 39%; margin-top: -8%; font-weight: normal;">Monture</h4>
							<div class="form-group">
								<label style="font-weight: normal;">Référence</label>
								<select id="reference" class="form-control">
									<option></option>
								</select>
							</div>
							<div class="form-group" style="margin-left:51%; width:100% !important; margin-top:-20.7% !important;">
								<label style="font-weight: normal;">Couleur</label>
								<select id="couleur" class="form-control">
									<option></option>
								</select>
							</div>
							<div class="form-group" style="margin-top:-5.6% !important;">
								<label style="font-weight: normal;">Forme</label>
								<input type='text' class="form-control" list='forme'>
								<datalist id="forme" class="form-control">
								</datalist>
							</div>
							<div class="form-group" style="margin-left:51%; width:100% !important; margin-top:-20.5% !important;">
								<label style="font-weight: normal;">Nombre</label>
								<select id="nombre" class="form-control">
									<option></option>
								</select>
							</div>
							<div class="form-group">
								<button class="btn btn-primary btn-block" type="submit" style="margin-bottom: -10%; margin-top:-3%; border-radius: 50px;">Valider</button>
							</div>
						</form>
					</div>


					<div class="login-clean" style="margin-left:52.5%; margin-top: -41.6%; margin-bottom: -5%;">
						<form method="POST" id="vente_verre">
							<h4 style="margin-left: 42%; margin-top: -8%; font-weight: normal;">Verre</h4>
							<div class="form-group">
								<label style="font-weight: normal;">Type</label>
								<select id="type" class="form-control">
									<option></option>
								</select>
							</div>
							<div class="form-group" style="margin-left:51%; width:100% !important; margin-top:-20.7% !important;">
								<label style="font-weight: normal;">Traitement</label>
								<select id="traitement" class="form-control">
									<option></option>
								</select>
							</div>
							<div class="form-group" style="margin-top:-5.6% !important;">
								<label style="font-weight: normal;">Dégré</label>
								<select id="degre" class="form-control">
									<option></option>
								</select>
							</div>
							<div class="form-group" style="margin-left:51%; width:100% !important; margin-top:-20.5% !important;">
								<label style="font-weight: normal;">Nombre</label>
								<select id="nombre" class="form-control">
									<option></option>
								</select>
							</div>
							<div class="form-group">
								<button class="btn btn-primary btn-block" type="submit" style="margin-bottom: -10%; margin-top:-3%; border-radius: 50px;">Valider</button>
							</div>
						</form>
					</div>


					<div class="table-wrapper" style="margin-top: -7%;">
						<div class="table-title">
							<div class="row">
								<div class="col-sm-6" style="margin-left: -8%;">
									<h2 style="font-weight: normal;"> Achats </h2>
								</div>
								<div class="col-sm-6" style="margin-left: 7%;">
									<a onclick="multi_delete()"  class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Supprimer</span></a>
								</div>
							</div>
						</div>

						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>
										<span class="custom-checkbox">
											<input type="checkbox" id="selectAll">
											<label for="selectAll"></label>
										</span>
									</th>
									<th style="color:#35065a">Codes</th>
									<th rowspan="5" style="color:#35065a">Désignations</th>
									<th style="color:#35065a">Nombres</th>
									<th style="color:#35065a">Prix</th>
									<th style="color:#35065a">Supprimer</th>
								</tr>
							</thead>
							<tbody>
								<tr id="">
									<td>
										<span class="custom-checkbox">
											<input type="checkbox" id="checkbox1" name="options[]" value="1">
											<label for="checkbox1"></label>
										</span>
									</td>
									<td id="reference" >Vahyg45877 </td>
									<td rowspan="5 "id="type">  Rouge grant Rondes Ovales </td>
									<td id="Nombre"> 5 </td>
									<td id="Prix"> 14000 </td>
									<td>
										<a id="" onclick="" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
									</td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td rowspan="5"></td>

									<td id='total' style="color:#fb483a !important; font-size:18px;">10000</td>
									<td></td>
									<td></td>

								</tr>

							</tbody>
						</table>
					</div>


				</div>
			</section>
		</div>
		<script src="js/jquery.min.js"></script>
		<script src="js/tabvente.js"></script>
	</body>

</html>
